#!/usr/bin/env bash

# Workaround for devenv-nix bug with Determinate Nix
# See: https://github.com/cachix/devenv/issues/2364
use flake

if test -f ./.envrc.local; then
  source_env ./.envrc.local
fi
