# General
.DS_Store
*.log
tmp
.context

# Node.js
node_modules

# TypeScript
*.tsbuildinfo
dist

# Direnv
.direnv
.envrc.local

# Devenv
.devenv
.devenv*
!.devenv.flake.nix  # devenv looks for this instead of flake.nix (see devenv#1137)

# Storybook
storybook-static
.vercel

# Playwright
test-results
playwright-report
.last-run.json
blob-report
