# General
.DS_Store
*.log
tmp
.context

# Node.js
node_modules

# TypeScript
*.tsbuildinfo
dist

# Direnv
.direnv
.envrc.local

# Devenv
.devenv/
.devenv.lock
devenv.local.nix
/.devenv.flake.nix
result
.pre-commit-config.yaml

# Storybook
storybook-static
.vercel

# Playwright
test-results
playwright-report
.last-run.json
blob-report

tasks