store-dir=.devenv/pnpm-store-pure-v1
virtual-store-dir=node_modules/.pnpm
enable-global-virtual-store=true
global-virtual-store-dir=.devenv/pnpm-gvs
state-dir=.devenv/pnpm-state
cache-dir=.devenv/pnpm-cache
package-import-method=clone
node-linker=isolated
side-effects-cache=false
side-effects-cache-readonly=false
verify-store-integrity=true
strict-store-pkg-content-check=true
pm-on-fail=ignore
verify-deps-before-run=install
