name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: devenv shell bash -- -e {0}
    steps:
      - uses: actions/checkout@v4

      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: Install devenv
        run: nix profile install nixpkgs#devenv
        shell: bash

      - run: pnpm install --frozen-lockfile

      - name: Type check
        run: pnpm tsc --build tsconfig.all.json

      - name: Lint
        run: biome check

      - name: Unit tests
        run: pnpm --filter @overeng/notion-effect-client test:unit
